body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
    margin:0%;
    padding: 0%;
    background-color:#2b7a78;
}

/* Estilo del botón */
.boton-abrir {
  background-color: #0077cc;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 8px;
}
/* Fondo del menú (overlay) */
.menu-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  overflow-x: hidden;
  transition: width 0.4s;
  z-index: 1000;
}
/* Contenido del menú */
.contenido-menu {
  background-color: #2b7a78; /* color de fondo */
  width: 100%;
  height: 100%;
  padding: 20px;
}
/* Botón cerrar */
.cerrar {
  font-size: 50px;
  cursor: pointer;
  position:absolute;
  top:30px;
  right:50px;

}
/* Enlaces del menú */
.menu-overlay ul {
  list-style: none;
  padding: 0;
}

.menu-overlay ul li {
  margin: 15px 0;
}

.menu-overlay ul li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}
/* ---- Listas de destinos en columnas ---- */
.contenedor-listas {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  
  padding: 20px;
  border-radius: 12px;
}

.contenedor-listas ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contenedor-listas a {
  color: white;
  text-decoration: underline;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.contenedor-listas a:hover {
  color: #ffd700;
}
