/*titutlo*/
.titulo{
  color:black;
  text-align: center;
  margin-top: 15px;
  font-size: 100px;

}
/* Fuente y reset */
body {
  font-family: Arial, sans-serif;
  color:#FFD166;
  margin: 0;
  padding: 0;
}

/*HEADER */
header {
  background-color: #D50000; /* rojo vivo */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
}

.logo-center {
  width: 80px;
  height: auto;
}

/* Botones del header (Suscríbete, Contacto, Menú) */
nav a {
  background-color: #0277BD; /* azul brillante */
  color: white;
  padding: 10px 18px;
  margin-left: 12px;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s ease;
}

nav a:hover {
  background-color: #015C8B; /* azul más oscuro al pasar mouse */
}

/*MENÚ LATERAL*/
.boton-abrir {
  background-color: #0277BD;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 8px;
  transition: 0.3s;
}

.boton-abrir:hover {
  background-color: #015C8B;
}

/* Fondo del menú */
.menu-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  overflow-x: hidden;
  transition: width 0.4s;
  z-index: 1000;
}

.contenido-menu {
  background-color: #003049; /* azul elegante */
  width: 100%;
  height: 100%;
  padding: 20px;
}

.cerrar {
  font-size: 50px;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 50px;
}

.menu-overlay ul {
  list-style: none;
  padding: 0;
}

.menu-overlay ul li {
  margin: 15px 0;
}

.menu-overlay ul li a {
  color: #FFD166;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

/* LISTA DE DESTINOS */
.contenedor-listas {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  padding: 20px;
  border-radius: 12px;
}

.contenedor-listas a {
  color: white;
  text-decoration: underline;
  font-size: 16px;
}

.contenedor-listas a:hover {
  color: #ffd700;
}

/* ---------------- SLIDER DE IMÁGENES ---------------- */
.hero {
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: cambioFondo 30s infinite;
}

@keyframes cambioFondo {
  0%   { background-image: url("imagenes/peru 1.jpg"); }
  16%  { background-image: url("imagenes/peru 2.jpg"); }
  33%  { background-image: url("imagenes/peru 3.jpg"); }
  50%  { background-image: url("imagenes/peru 4.jpg"); }
  66%  { background-image: url("imagenes/peru 5.jpg"); }
  83%  { background-image: url("imagenes/peru 6.jpg"); }
  100% { background-image: url("imagenes/peru 1.jpg"); }
}

/* ---------------- FOOTER ---------------- */
footer {
  background: rgba(0, 0, 0, 0.65);
  color: white;
  text-align: center;
  padding: 15px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(6px);
  font-size: 14px;
}
